{% include 'layout.html' %}
{% block styles %}
<link rel="stylesheet" href="/styles/blog.css">
{% endblock styles %}
{% block content %}
<div class="header">
    <h1 class="header__h1">Blog</h1>
</div>
<section>
    <div class="cards-blog">
        {% for card in cardsBlog %}
        <div class="card-blog">
            <img src="{{card.thumbnail}}" alt="" class="card-blog__photo">
            <h1 class="card-blog__title">{{card.title}}</h1>
            <p class="card-blog__description">{{card.description}}</p>
            <a href="#" class="card-blog__read-more">Ler mais</a>
            <p class="card-blog__words-blog"><i class="fa fa-bookmark"></i>{{card.keywords}}</p>
            <ul class="card-blog__social">
                <a href="#"><img src="../images/youtube-blog.svg" alt=""></a>
                <a href="#"><img src="../images/facebook-blog.svg" alt=""></a>
                <a href="#"><img src="../images/instagram-blog.svg" alt=""></a>
                <a href="#"><img src="../images/twitter-blog.svg" alt=""></a>
            </ul>
        </div>
       {% endfor %}
    </div>
    <nav class="pagination">
        <div class="pagination__item" id="first">&#171</div>
        <div class="pagination__item" id="prev">&lt;</div>
        <ul class="pagination__page-numbers">
            <a href="#" class="pagination__item">1</a>
            <a href="#" class="pagination__item">2</a>
            <a href="#" class="pagination__item">3</a>
            <a href="#" class="pagination__item">4</a>
        </ul>
        <div class="pagination__item" id="next">&gt;</div>
        <div class="pagination__item" id="last">&#187</div>
    </nav>
</section>
{% include 'partials/footer.html' %}
{% endblock content %}