include head.pug
link(rel="stylesheet", href="../../public/styles/blog.css")
include menu.pug
.header 
    h1.header__title Blog 
section 
    .cards-blog
    nav.pagination
        .pagination__item#first &#171
        .pagination__item#prev &lt;
        ul.pagination__page-numbers
        .pagination__item#next &gt;
        .pagination__item#last &#187

include footer.pug
script(src="../../public/scripts/paginate.js")