include layout.pug
link(rel="stylesheet", href="../../public/styles/blog.css")
.header 
    h1.header__h1 Blog 
section 
    .cards-blog 
        each card in cardsBlog
            .card-blog
                img(src="#{card.thumbnail}", alt="").card-blog__photo
                h1.card-blog__title #{card.title}
                p.card-blog__description #{card.description}
                a(href="#").card-blog__read-more Ler mais
                p.card-blog__words-blog
                    i.fa.fa-bookmark #{card.keywords}
                ul.card-blog__social
                    a(href="#")
                        img(src="../images/youtube-blog.svg" alt="")
                    a(href="#")
                        img(src="../images/facebook-blog.svg", alt="") 
                    a(href="#")
                        img(src="../images/instagram-blog.svg", alt="")
                    a(href="#")
                        img(src="../images/twitter-blog.svg", alt="")
 
    nav.pagination
        .pagination__item #first &#171
        .pagination__item #prev &lt;
        ul.pagination__page-numbers
            a(href="#" class="pagination__item") 1
            a(href="#" class="pagination__item") 2
            a(href="#" class="pagination__item") 3
            a(href="#" class="pagination__item") 4
        .pagination__item #next &gt;
        .pagination__item #last &#187

include partials/footer.pug