footer
    .section-footer
        h1 Clientes Nexaas
        hr
        ul
            li
                img(src="../../public/images/logo-zeedog.png", alt="")
            li
                img(src="../../public/images/logo-linkapi.png", alt="")
            li 
                img(src="../../public/images/kenoby.png", alt="")
            li
                img(src="../../public/images/logo-ebanx.png", alt="")
            li
                img(src="../../public/images/logo-gett.png", alt="")
    .footer
        .col a
        .col a
        .col a
        .logo-footer
            h1 Nexaas
            p &copy; 2020 Nexaas
            .social-icons
                a(href="https://www.linkedin.com/company/nexaas" target="_blank")
                    img(src="../../public/images/linkedin.png", alt="")
                a(href="https://www.facebook.com/nexaas/" target="_blank") 
                    img(src="../../public/images/facebook.png", alt="")   
                a(href="https://www.youtube.com/nexaas")    
                    img(src="../../public/images/youtube.png", alt="")