.footer-page
    .footer-page__section
        h1.footer-page__title Clientes Nexaas
        hr.footer-page__divider
        ul.footer-page__list
            li.footer-page__list-item
                img(src="../../public/images/logo-zeedog.png", alt="").footer-page__list-image
            li.footer-page__list-item
                img(src="../../public/images/logo-linkapi.png", alt="").footer-page__list-image
            li.footer-page__list-item 
                img(src="../../public/images/kenoby.png", alt="").footer-page__list-image
            li.footer-page__list-item
                img(src="../../public/images/logo-ebanx.png", alt="").footer-page__list-image
            li.footer-page__list-item
                img(src="../../public/images/logo-gett.png", alt="").footer-page__list-image
    .footer-page__social
        .footer-page__col a
        .footer-page__col a
        .footer-page__col a
        .footer-page__logo
            h1.footer-page__social-title Nexaas
            p.footer-page__text &copy; 2020 Nexaas
            .footer-page__social-icons
                a(href="https://www.linkedin.com/company/nexaas" target="_blank")
                    img(src="../../public/images/linkedin.png", alt="").footer-page__social-icon
                a(href="https://www.facebook.com/nexaas/" target="_blank") 
                    img(src="../../public/images/facebook.png", alt="").footer-page__social-icon   
                a(href="https://www.youtube.com/nexaas")    
                    img(src="../../public/images/youtube.png", alt="").footer-page__social-icon