<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexaas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/home.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo&family=Lato:wght@100&family=Montserrat:wght@100&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="content">
            <img src="/images/nexaas-logo.png" alt="">
            <i class="fa fa-bars"></i>
            <ul class="menu-content">
                <li>Home</li>
                <li>Soluções</li>
                <li>Trabalhe conosco</li>
                <li>Contato</li>
                <li>Blog</li>
            </ul>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>

</html>