include head.pug
link(rel="stylesheet", href="../../public/styles/post-blog.css")
include menu.pug

.post-container(style="background-image: url('https://nexaas.com/wp-content/uploads/2018/11/editada_ps19428.png');")
    .post-container__header
        h1.post-container__title Card title oi
.content-post-page

include footer.pug    