include head.pug
link(rel="stylesheet", href="../../public/styles/post-blog.css")
include menu.pug

section.post-container
    .post-container__title-container
        h1.post-container__title Card title
    