include head.pug
link(rel="stylesheet", href="../../public/styles/post-blog.css")
include menu.pug

.post-header(style="background-image: url('https://nexaas.com/wp-content/uploads/2018/11/editada_ps19428.png');")
    .post-header__header
        h1.post-header__title
.container-post-page        
    .content-post-page
        p.content-post-page__keywords
        h1.content-post-page__title
        img(src="https://nexaas.com/wp-content/uploads/2018/11/editada_ps19428.png", alt="").content-post-page__image
        .content-post-page__text-container
            h1.text-container__title 
            p.text-container__para
            h1.text-container__title
            p.text-container__para
            p.text-container__para
        .content-post-page__comments
            label(for="comment")
            input(type="text", name="comment", placeholder="Adicione um comentário").content-post-page__comments-input
    .content-search
        label(for="search")
        input(type="text", name="search", placeholder="Pesquisar por...").content-search__input

include footer.pug 
script(src="../../public/scripts/post.js") 