<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhe conosco</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo&family=Lato:wght@100&family=Montserrat:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/work-with-us.css">
</head>

<body>
    <header>
        <div class="content">
            <img src="/images/nexaas-logo.png" alt="">
            <i class="fa fa-bars icon-menu"></i>
            <ul class="menu-content">
                <div class="menu-close">
                    <i class="fa fa-times icon-close"></i>
                    <p>MENU</p>
                </div>
                <a href="/">Home</a>
                <a href="#">Institucional</a>
                <a href="#">LinkedIn</a>
                <a href="#">Blog</a>
                <a href="#">Sou candidato</a>
            </ul>
        </div>
    </header>
    <section>
        <div class="section-background">
            <div class="backdrop">
                <div class="backdrop-text">
                    <h1>Seja um Nexaas!</h1>
                    <p>Trabalhe em uma empresa pioneira em desenvolvimento de software de gestão em nuvem.</p>
                    <a href="#">Sobre nós</a>
                    <a href="#">Vagas</a>
                </div>
            </div>
        </div>
        <div class="section-search">
            <form action="" >
                <fieldset>
                    <div class="select-block">
                        <label for="area">Área</label>
                        <select name="area" id="area"></select>
                    </div>
                    <div class="select-block">
                        <label for="city">Cidade</label>
                        <select name="city" id="city"></select>
                    </div>
                    <div class="select-block">
                        <label for="state">Estado</label>
                        <select name="state" id="state"></select>
                    </div>
                </fieldset>
            </form>
        </div>
        
    </section>
    
    <script src="/scripts/utils.js"></script>
</body>

</html>