include head.pug
link(rel="stylesheet", href="../../public/styles/work-with-us.css")

body
    header
        .content
            img(src="../../public/images/nexaas-logo.png" alt="")
            i.fa.fa-bars.icon-menu
            ul.menu-content
                .menu-close
                    i.fa.fa-times.icon-close
                    p MENU
                a(href="/index.pug") Institucional
                a(href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fcompany-beta%2F10670931%2F&trk=login_reg_redirect") LinkedIn
                a(href="/blog.pug") Blog
                a(href="/partials/applicant-email.pug") Sou candidato
    section
        .section-background
            .backdrop
                .backdrop-text
                    h1 Seja um Nexaas!
                    p Trabalhe em uma empresa pioneira em desenvolvimento de software de gestão em nuvem.
                    a(href="#" id="aboutUs") Sobre nós
                    a(href="#" id="job") Vagas
        .section-search
            form(action="")
                fieldset
                    .form-block
                        .select-block
                            label(for="position") Área
                            select(name="position" id="position")
                                option(value="0") Todas
                                option(value="1") Comercial
                                option(value="2") Desenvolvimento
                                option(value="3") Design
                                option(value="4") Implantação
                                option(value="5") Marketing
                                option(value="6") Produto
                                option(value="7") Suporte Corporativo
                        .select-block
                            label(for="city") Cidade
                            select(name="city" id="city")
                                option(value="") Selecione o Estado
                        .select-block
                            label(for="state") Estado
                            select(name="state" id="state")
                                option(value="") Todos
                            input(type="text" id="state" hidden)
        .section-text
            p Não encontrou nenhuma vaga? Envie seu CV mesmo assim!
            a(href="/applicant") Enviar agora
        .section-content
            img(src="https://s3.amazonaws.com/nexaas-marketing/repositorio/kenoby/imagem-1-nexaas-kenoby.png" alt="")
            h1 Quem somos e o que fazemos?
            p A Nexaas é uma empresa de desenvolvimento de softwares em nuvem para gestão empresarial. Esqueça as velhas tecnologias e formas de pensar, aqui nós ditamos tendências e desenvolvemos soluções disruptivas que oferecem a melhor experiência para nossos usuários. Para isso aliamos tecnologia de ponta a um time de pessoas que não se conformam com a zona de conforto. Somos apaixonados pelo que fazemos, viciados em resolver problemas reais e curiosos por conhecer pessoas que tenham essa mesma garra e determinação.<br>
                <b>Se você se identifica, venha ser um Nexaas.
            img(src="https://s3.amazonaws.com/nexaas-marketing/repositorio/kenoby/imagem-2-nexaas-kenoby.png" alt="")
            h1 O perfil de um Nexaas
            p Somos uma empresa jovem, porém com profunda experiência naquilo que faz. Nosso perfil vai desde estagiários até profissionais com mais de 30 anos de mercado. Respeitamos nossas diferenças e abraçamos as experiências de cada um pois acreditamos que a diversidade é um dos nossos maiores diferenciais. Portanto, a definição de um Nexaas está intimamente ligada à capacidade de flexibilização, adaptação às mudanças do mercado onde estamos inseridos e, principalmente, à criatividade e inovação.
            h1 O jeito Nexaas de gerir pessoas
            p Na Nexaas as relações são de longo prazo e prezam pelo desenvolvimento dos talentos de cada um, necessários ao crescimento da empresa. Nossos colaboradores contam com uma série de benefícios e incentivos que proporcionam o equilíbrio entre demandas profissionais e pessoais. Aqui nós temos um ambiente colaborativo e enérgico onde trabalhamos duro e nos divertimos na mesma medida.
include footer.pug
script(src="../../public/scripts/work-with-us.js")
script(src="../../public/scripts/menu.js")