include head-partials.pug
link(rel="stylesheet", href="/../../public/styles/partials/applicant.css")
include menu-partials.pug        

.section-background
    .backdrop
        h1 Portal do candidato
        p Acompanhe sua evolução no processo seletivo
        form(action="")
            fieldset
                .form-block
                    label(for="email") Endereço de E-mail
                    input(type="email" name="email" id="email")
            button(type="button") Enviar