{% include 'layout.html' %}
{% block styles %}
<link rel="stylesheet" href="/styles/partials/contact.css">
<link rel="stylesheet" href="/styles/partials/header.css">
<link rel="stylesheet" href="/styles/partials/form.css">
{% endblock styles %}
{% block content %}
{% include 'partials/header.html' %}
<section>
    <div class="section-help">
        <h1>Ajuda e suporte</h1>
        <ul>
            <li>Acesse a nossa base de conhecimento;</li>
            <li>Veja nossos canais de atendimento;</li>
            <li>Abra um chamado;</li>
        </ul>
        <a href="#">Fale com o suporte</a>
    </div>
    <div class="section-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.283239211478!2d-46.687868850025495!3d-23.594172868613352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce574603540015%3A0x1d1225ed68149c6!2sR.%20do%20Rocio%2C%20199%20-%20Vila%20Ol%C3%ADmpia%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004552-000!5e0!3m2!1spt-BR!2sbr!4v1598464656840!5m2!1spt-BR!2sbr" width="500" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</section>
<div class="section-help form">
    <h1>Vendas</h1>
    <p>Quer saber mais sobre nossos produtos e serviços?</p>
    <ul>
        <li>Planos</li>
        <li>Dúvidas</li>
        <li>Valores</li>
    </ul>
</div>

{% include 'partials/form.html' %}
{% include 'partials/footer.html' %}
{% endblock content %}