<footer>
    <div class="section-footer">
        <h1>Clientes Nexaas</h1>
        <hr>
        <ul>
            <li><img src="/images/logo-zeedog.png" alt=""></li>
            <li><img src="/images/logo-linkapi.png" alt=""></li>
            <li><img src="/images/kenoby.png" alt=""></li>
            <li><img src="/images/logo-ebanx.png" alt=""></li>
            <li><img src="/images/logo-gett.png" alt=""></li>
        </ul>
    </div>
    <div class="footer">
        <div class="col">a</div>
        <div class="col">a</div>
        <div class="col">a</div>
        <div class="logo-footer">
            <h1>Nexaas</h1>
            <p>&copy; 2020 Nexaas</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/company/nexaas" target="_blank" ><img src="/images/linkedin.png" alt=""></a>
                <a href="https://www. facebook.com/nexaas/" target="_blank"><img src="/images/facebook.png" alt=""></a>
                <a href="https://www.youtube.com/nexaas" target="_blank"><img src="/images/youtube.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>