form(action="" id="form-register")
    fieldset.form-register__fieldset
        h1.form-register__title #{titleForm}
        .form-register__form-group
            .form-register__form-group-flex
                .form-register__form-group
                    label(for="name").form-register__label Nome
                    input(type="text", name="name", id="name").form-register__input
                .form-register__form-group
                    label(for="surname").form-register__label Sobrenome
                    input(type="text", name="surname", id="surname").form-register__input
        .form-register__form-group
            label(for="email").form-register__label Email
            input(type="email" name="email" id="email").form-register__input
        .form-register__form-group
            label(for="number").form-register__label Número de telefone
            input(type="number" name="number" id="number").form-register__input
        .form-register__form-group
            .form-register__form-group-flex
                .form-register__form-group
                    label(for="position").form-register__label
                    select(name="position" id="position").form-register__select
                        option(value="") Selecione uma opção
                        option(value="0") CEO
                        option(value="1") Diretor
                        option(value="2") Head
                        option(value="3") Gerente
                        option(value="4") Coordenador
                        option(value="5") Analista
                .form-register__form-group
                    label(for="area").form-register__label
                    select(name="area" id="area").form-register__select
                        option(value="") Selecione uma opção
                        option(value="0") Comercial
                        option(value="1") Operações
                        option(value="2") TI
                        option(value="3") Marketing
                        option(value="4") Projetos
                        option(value="5") E-commerce
                        option(value="6") Transformação digital
                        option(value="7") Não se aplica
        .form-register__form-group
            label(for="companyName").form-register__label Nome da empresa
            input(type="text", name="companyName", id="companyName").form-register__input
        .form-register__form-group
            label(for="store").form-register__label Quantidade de lojas
            input(type="number", name="store", id="store").form-register__input
        .form-register__form-group
            .form-register__form-group-flex
                .form-register__form-group
                    label(for="city").form-register__label Cidade
                    select(name="city", id="city").form-register__select
                        option(value="") Selecione uma opção
                .form-register__form-group
                    label(for="state").form-register__label Estado
                    select(name="state", id="state").form-register__select
                        option(value="") Selecione uma opção
        button(type="submit").form-register__button Enviar