form(action="" id="form-register")
    fieldset
        h1 oi
        .form-group
            .form-group-flex
                .form-group
                    label(for="name") Nome
                    input(type="text" name="name" id="name")
                .form-group
                    label(for="surname") Sobrenome
                    input(type="text" name="surname" id="surname")
        .form-group
            label(for="email") Email
            input(type="email" name="email" id="email")
        .form-group
            label(for="number") Número de telefone
            input(type="number" name="number" id="number")
        .form-group
            .form-group-flex
                .form-group.select
                    label(for="position")
                    select(name="position" id="position")
                        option(value="") Selecione uma opção
                        option(value="0") CEO
                        option(value="1") Diretor
                        option(value="2") Head
                        option(value="3") Gerente
                        option(value="4") Coordenador
                        option(value="5") Analista
                .form-group.select
                    label(for="area")
                    select(name="area" id="area")
                        option(value="") Selecione uma opção
                        option(value="0") Comercial
                        option(value="1") Operações
                        option(value="2") TI
                        option(value="3") Marketing
                        option(value="4") Projetos
                        option(value="5") E-commerce
                        option(value="6") Transformação digital
                        option(value="7") Não se aplica
        .form-group
            label(for="companyName") Nome da empresa
            input(type="text" name="companyName" id="companyName")
       .form-group
            label(for="store") Quantidade de lojas
            input(type="number" name="store" id="store")
        .form-group
            .form-group-flex
                .form-group
                    label(for="city") Cidade
                    select(name="city" id="city")
                        option(value="") Selecione uma opção
                .form-group
                    label(for="state") Estado
                    select(name="state" id="state")
                        option(value="") Selecione uma opção
        button(type="submit") Enviar