<form action="" id="form-register">
    <fieldset>
        <h1>Cadastre seu negócio</h1>
        <div class="form-group">
            <div class="form-group-flex">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="surname">Sobrenome</label>
                    <input type="text" name="surname" id="surname">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="form-group">
            <label for="number">Número de telefone</label>
            <input type="number" name="number" id="number">
        </div>
        <div class="form-group">
            <div class="form-group-flex">
                <div class="form-group select">
                    <label for="position">Cargo</label>
                    <select name="position" id="position">
                        <option value="">Selecione uma opção</option>
                        <option value="0">CEO</option>
                        <option value="1">Diretor</option>
                        <option value="2">Head</option>
                        <option value="3">Gerente</option>
                        <option value="4">Coordenador</option>
                        <option value="5">Analista</option>
                    </select>
                </div>
                <div class="form-group select">
                    <label for="area">Área de negócio</label>
                    <select name="area" id="area">
                        <option value="">Selecione uma opção</option>
                        <option value="0">Comercial</option>
                        <option value="1">Operações</option>
                        <option value="2">TI</option>
                        <option value="3">Marketing</option>
                        <option value="4">Projetos</option>
                        <option value="5">E-commerce</option>
                        <option value="6">Transformação digital</option>
                        <option value="7">Não se aplica</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="companyName">Nome da empresa</label>
            <input type="text" name="companyName" id="companyName">
        </div>
        <div class="form-group">
            <label for="store">Quantidade de lojas</label>
            <input type="number" name="store" id="store">
        </div>
        <div class="form-group">
            <div class="form-group-flex">
                <div class="form-group">
                    <label for="city">Cidade</label>
                    <select name="city" id="city">
                        <option value="">Selecione uma opção</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="state">Estado</label>
                    <select name="state" id="state">
                        <option value="">Selecione uma opção</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit">Enviar</button>
    </fieldset>
</form>