body
    header
        .content
            img(src="/../../public/images/nexaas-logo.png" alt="")
            i.fa.fa-bars.icon-menu
            ul.menu-content
                .menu-close
                    i.fa.fa-times.icon-close
                    p MENU
                a(href="../index.pug") Home
                a(href="../work-with-us.pug") Trabalhe conosco
                a(href="../contact.pug") Contato
                a(href="../blog.pug") Blog
script(src="/../../public/scripts/menu.js")