body
    .backdrop-menu
    header
        .container
            img(src="/../../public/images/nexaas-logo.png" alt="").container__logo   
            i.fa.fa-bars.container__icon-menu
            ul.container__menu
                .container__menu-close
                    i.fa.fa-times.container__icon-menu
                    p.container__menu-text MENU
                a(href="/index.pug").container__menu-item Home
                a(href="/work-with-us.pug").container__menu-item Trabalhe conosco
                a(href="/contact.pug").container__menu-item Contato
                a(href="/blog.pug").container__menu-item Blog
script(src="/../../public/scripts/menu.js")