{% include 'layout.html' %}
{% block styles %}
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/pages-emites-suite-finance.css">
    <link rel="stylesheet" href="/styles/partials/form.css">
{% endblock styles %}
{% block content %}
{% include 'partials/header.html' %}
<div class="section-page reverse">
    <img src="https://nexaas.com/wp-content/uploads/2020/05/myfinance-comercial-cadastros-1.png" alt="">
    <div class="description-page">
        <h1 class="blue">Automatize o contas a pagar e a receber</h1>
        <p>Uma ferramenta que vai ajudar muito no dia-a-dia do seu negócio, com o módulo de recebíveis do MyFinance. Ele atua diretamente no seu contas a receber, atualizando automaticamente datas de compensação, taxas deduzidas e descontos, garantindo que seu movimento bancário esteja fiel à realidade e trazendo toda a tranquilidade que você precisa.</p>
    </div> 
</div>
<div class="section-page">
    <div class="description-page">
        <h1 class="blue">Personalize seus lançamentos e encontre de forma rápida o que procura</h1>
        <p>O Myfinance possibilita criar classificadores personalizados exclusivos para seus lançamentos, a partir dos quais sua empresa gera relatórios e análises que realmente contribuem para o negócio. Esta ferramenta vai simplificar muito os seus processos</p>
    </div> 
    <img src="https://nexaas.com/wp-content/uploads/2020/05/myfinance-comercial-personalize-1.png" alt="">
</div>
<div class="section-page reverse">
    <img src="https://nexaas.com/wp-content/uploads/2020/05/myfinance-comercial-integracoes-1.png" alt="" >
    <div class="description-page">
        <h1 class="blue">Potencialize com integrações exclusivas</h1>
        <p>Para agilizar ainda mais a sua rotina, as nossas APIs públicas permitem integrações a diversos outros sistemas de gestão, bancos, ERPs, pontos de venda, e o que mais for necessário para a sua gestão ficar ainda mais completa.</p>
    </div> 
</div>
<div class="section-page">
    <div class="description-page">
        <h1 class="blue">Veja com precisão os dados que realmente importam</h1>
        <p>A inteligência de dados do Myfinance possibilita criar todo tipo de relatório que sua empresa necessite, de forma minuciosa e dinâmica, com apenas alguns cliques.</p>
    </div> 
    <img src="https://nexaas.com/wp-content/uploads/2020/05/myfinance-comercial-dados-1.png" alt="">
</div>
<div class="section-page reverse">
    <img src="https://nexaas.com/wp-content/uploads/2020/05/myfinance-comercial-phones-1.png" alt="" class="lastImage">
    <div class="description-page">
        <h1 class="blue">Torne seu negócio mobile</h1>
        <p>Com o aplicativo, você não precisa estar na empresa pra ficar por dentro do que se passa no seu financeiro. Controle tudo no celular ou tablet e tenha uma gestão muito mais dinâmica.</p>
    </div> 
</div>
{% include 'partials/form.html' %}
{% include 'partials/footer.html' %}
{% endblock content %}