include head-partials.pug

link(rel="stylesheet" href="/../../public/styles/partials/header.css")
link(rel="stylesheet" href="/../../public/styles/partials/oms.css")
link(rel="stylesheet" href="/../../public/styles/partials/sectionDescription.css")
link(rel="stylesheet" href="/../../public/styles/partials/form.css")

include menu-partials.pug

- var title = oms.title;
- var descriptionTitle = oms.descriptionTitle;
- var description = oms.description; 

include header-page.pug

img(src="/../../public/images/oms-products.png" alt="" class="comercial")

- var thumbnailSection = '/../../public/images/vor.jpg';
- var titleSection = oms.titleSection;
- var descriptionSection = oms.descriptionSection;

include sectionDescription.pug

.services
    div
        h1 Principais características
        ul
            li Gestão de catálogo (produtos, categorias, marcas, fabricantes, características)
            li Enriquecimento de ficha de produto para canais online
            li Gestão de pedidos, tabelas de preços, canais de vendas, estoques, clientes
            li Integração com operadores logísticos / transportadoras
            li Pedido de compra / Entrada de mercadorias
            li Operações massivas (produto/preço/estoque)
            li Devoluções, Transferências, Coleta e Empacotamento
            li Relatórios operacionais e estratégicos
            li Visão franqueado/franqueador
            li Inventário da loja
            li Precificação de produtos
            li Motor de promoção
    img(src="/../../public/images/oms-services.jpg" alt="")
- var titleForm = oms.titleForm;    
include form.pug
include footer-partials.pug