{% include 'layout.html' %}
{% block styles %}
<link rel="stylesheet" href="/styles/partials/header.css">
<link rel="stylesheet" href="/styles/partials/oms.css">
<link rel="stylesheet" href="/styles/partials/sectionDescription.css">
<link rel="stylesheet" href="/styles/partials/form.css">
{% endblock styles %}
{% block content %}
{% include 'partials/header.html' %}
<img src="/images/oms-products.png" alt="" class="comercial">
{% include 'partials/sectionDescription.html' %}
<div class="services">
    <div>
        <h1>Principais características</h1>
        <ul>
            <li>Gestão de catálogo (produtos, categorias, marcas, fabricantes, características)</li>
            <li>Enriquecimento de ficha de produto para canais online</li>
            <li>Gestão de pedidos, tabelas de preços, canais de vendas, estoques, clientes</li>
            <li>Integração com operadores logísticos / transportadoras</li>
            <li>Pedido de compra / Entrada de mercadorias</li>
            <li>Operações massivas (produto/preço/estoque)</li>
            <li>Devoluções, Transferências, Coleta e Empacotamento</li>
            <li>Relatórios operacionais e estratégicos</li>
            <li>Visão franqueado/franqueador</li>
            <li>Inventário da loja</li>
            <li>Precificação de produtos</li>
            <li>Motor de promoção</li>
        </ul>
    </div>
    <img src="/images/oms-services.jpg" alt="">
</div>
{% include 'partials/form.html' %}
{% include 'partials/footer.html' %}
{% endblock content %}