include head-partials.pug

link(rel="stylesheet" href="/../../public/styles/partials/header.css")
link(rel="stylesheet" href="/../../public/styles/partials/pdvend.css")
link(rel="stylesheet" href="/../../public/styles/partials/form.css")

include menu-partials.pug

- var title = pdvend.title;
- var descriptionTitle = pdvend.descriptionTitle;
- var description = pdvend.description;

include header-page.pug

section
    .description-page-pdvend
        h1(style="font: 700 1.6rem Lato;color: black;") Como o PDVend melhora a sua vida:
        p Pensado para tornar a sua gestão mais simples, rápida, eficiente e funcional. Aplicavo para sistema de PDV e Caixa de loja 100% móvel: funciona de qualquer lugar, levando seu negócio onde você estiver. Com qualquer dispositivo Android, é possível efetuar suas vendas de qualquer lugar.
    ul
        each item in li
            li
                img(src=item.thumbnail alt="")
                h1 #{item.title}
                p #{item.description}
    h1(style="font: 700 2.3rem Lato;") Integrações
    ul.integrations
            li
                img(src="https://nexaas.com/wp-content/uploads/2020/05/sumup-logo-275x80-1.png" alt="")
            li
                img(src="https://nexaas.com/wp-content/uploads/2020/05/Stone_pagamentos-275x139-1.png" alt="")
            li
                img(src="https://nexaas.com/wp-content/uploads/2020/05/rede-logo-1-275x90-1.png" alt="")
            li
                img(src="https://nexaas.com/wp-content/uploads/2020/04/Logo_of_Cielo.svg_-1024x340.png" alt="")
            li
                img(src="https://nexaas.com/wp-content/uploads/2020/05/Logo_PagSeguro-275x89-1.png" alt="")
- var titleForm = pdvend.titleForm;
include form.pug
include footer-partials.pug