.section-description
    img(src=thumbnailSection alt="").section-description__image
    .section-description__text
        h1.section-description__title #{titleSection}
        p.section-description__para #{descriptionSection}