include head-partials.pug

link(rel="stylesheet" href="/../../public/styles/partials/header.css")
link(rel="stylesheet" href="/../../public/styles/partials/store.css")
link(rel="stylesheet" href="/../../public/styles/partials/sectionDescription.css")
link(rel="stylesheet" href="/../../public/styles/partials/form.css")

include menu-partials.pug

- var title = store.title;
- var descriptionTitle = store.descriptionTitle;
- var description = store.description;

include header-page.pug

- var thumbnailSection = '/../../public/images/online-shopping.jpg';
- var titleSection = store.titleSection;
- var descriptionSection = store.descriptionSection;

include sectionDescription.pug

.section__container
    .section__container-description
        h1.section__container-title Faça vendas domiciliares
        p.section__container-para Sua loja pode funcionar na palma da sua mão com nosso aplicativo de caixa de loja para smartphones ou tablets  Android. Sua equipe pode continuar vendendo seu estoque físico para seus contatos.
    img(src="/../../public/images/gip.png" alt="").section__container-image
hr.section__divider
.section__container
    img(src="http://nexaas.com/wp-content/uploads/2020/04/cropped-shutterstock_1505458583-1-1.jpg" alt="").section__container-image
    .description-page-store
        h1.section__container-title Complete com entrega e retirada
        p.section__container-para Uma plataforma pensada de ponta a ponta. Seja para entregas próximas e pontuais ou para retirada num ponto de entrega, ou ainda para envio ao cliente com frota própria, terceirizada ou Correios, você não precisa se preocupar em negociar e configurar cada item em separado. Trazemos uma solução completa.

- var titleForm = store.titleForm;        
include form.pug
include footer-partials.pug