include head-partials.pug

link(rel='stylesheet', href='/../../public/styles/partials/header.css')
link(rel='stylesheet', href='/../../public/styles/partials/pages-emites-suite-finance.css')
link(rel='stylesheet', href='/../../public/styles/partials/sectionDescription.css')
link(rel='stylesheet', href='/../../public/styles/partials/form.css')

include menu-partials.pug

- var title = suite.title;
- var descriptionTitle = suite.descriptionTitle;
- var description = suite.description;

include header-page.pug

.description-page
  h1 Um só varejo, uma só experiência
  p
    | Trabalhando de forma integrada a partir de qualquer canal, para entregar em qualquer lugar, acessando qualquer estoque. A fórmula definitiva para maior satisfação dos seus clientes, mais vendas para sua empresa e o aumento do ticket médio em seu negócio.
  h1 Uma solução modular que endereça a complexidade do seu varejo de uma só vez:

- var thumbnailSection = '/../../public/images/oms-products.png';
- var titleSection = suite.titleSection;
- var descriptionSection = suite.descriptionSection;

include sectionDescription.pug

.section-page
  .description-page
    h1 Emissão de NFe e mensageria fora do ERP
    p
      | Preparado para receber seu conteúdo tributário pronto ou através da integração nativa com TaxRules e TaxTechs.
  img(src='https://nexaas.com/wp-content/uploads/2020/05/emites-comercial-hero.png', alt='')
.section-page.reverse
  img(src='https://nexaas.com/wp-content/uploads/2020/05/maquinetas-700x396-1.png', alt='')
  .description-page
    h1 Ponto de Venda móvel, cloud e integrado
    p
      | Com integração dos principais meios de pagamento, agora cada vendedor pode funcionar como um caixa móvel dentro da sua loja, liberando espaço no seu ponto de venda e agilizando a operação da sua equipe.

- var titleForm = suite.titleForm;        
include form.pug
include footer-partials.pug