{% include 'layout.html' %}
{% block styles %}
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/suite.css">
    <link rel="stylesheet" href="/styles/partials/sectionDescription.css">
    <link rel="stylesheet" href="/styles/partials/form.css">
{% endblock styles %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/sectionDescription.html' %}
{% include 'partials/form.html' %}
{% include 'partials/footer.html' %}
{% endblock content %}