section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}
.section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.section__map {
    width: 600px;
    height: 350px;
}
.section__list {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section__list___item, .section__para  {
    margin: 0.7rem auto;
    font: 400 1.2rem Archivo;
}
.section__title {
    margin: 1rem auto;
    font: 400 2rem Archivo;
}
.section__list___link {
    padding: 0.9rem;
    width: 15rem;
    background-color: rgb(38, 38, 241);
    border-radius: 0.8rem;
    text-decoration: none;
    color: white;
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-align: center;
    font: 400 0.9rem Archivo;
    transition: 0.3s;
    cursor: pointer;
}
.section__list___link:hover {
    background-color: rgb(76, 76, 250);
}
.section__content.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: -4rem;
    margin-top: 4rem;
    background-color: #f5fafd;
}
section__title--form {
    margin-top: 3rem;
}
@media (max-width:1100px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .section__content {
        width: 100%;
    }
    .section__list {
        list-style: none;
    }
    .section__title {
        text-align: center;
    }
    .section__map {
        max-width: 600px;
        width: 100%;
        height: 350px;
    }
    .section__content.form {
        text-align: center;
    }
}