.post-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh;
    margin-top: 80px;   
}
.post-container__header { 
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,0,0.595);
}
.post-container__title {
    font-size: 2.8rem;
    color: #FFF;
    margin-left: 3rem;
}