.section-background{
    margin-top: 90px;
    background-image: url('https://s3-sa-east-1.amazonaws.com/prod-jobsite-files.kenoby.com/uploads/nexaas-trabalhe-conosco-1565979537-prancheta3png.png');
    height: 90vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
.backdrop {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.backdrop .backdrop-text h1 {
    font: 700 5rem Archivo;
    margin-bottom: 2rem;
}
.backdrop .backdrop-text p {
    line-height: 20px;
    margin-bottom: 3.9rem;
    font: 400 1.3rem Archivo;
}
.backdrop .backdrop-text a, .section-text a {
    padding: 1.2rem;
    margin: 1rem;
    background-color: #a31313;
    border: 2px solid #a31313;
    color: white;
    text-decoration: none;  
    border-radius: 4rem;
    transition: 0.3s; 
    font: 400 1.2rem Archivo;
}
.backdrop .backdrop-text a:hover {
    background-color: rgba(0,0,0,0);
}
.section-text a {
    padding: 0.9rem;
    font-size: 1rem;
}
.section-text a:hover {
    background-color: rgba(0,0,0,0);
    color: #a31313;
}
.section-search {
    margin: 3rem auto;
    max-width: 900px;
    width: 100%;
}
.section-search .form-block {
    display: flex;
    justify-content: space-evenly;
}
.section-search fieldset {
    border-radius: 1.8rem;
    border: 1px solid rgb(235, 235, 235);
}
.section-search .form-block .select-block {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.section-search .form-block .select-block label {
    font: 400 0.9rem Archivo;
    color: gray;
}
.section-search .form-block .select-block select {
    height: 40px;
    border-radius: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid rgb(235, 235, 235);
    color: gray;
    outline: none;
}
.section-search .form-block {
    display: flex;
    justify-content: space-evenly;
}
.section-text {
    max-width: 900px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(245, 245, 245);
}
.section-text p {
    font: 400 1.3rem Archivo;
    color: gray;
}
.section-content {
    max-width: 900px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.section-content img {
    max-width: 600px;
    width: 50%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.section-content h1 {
    font: 700 3rem Archivo;
    margin: 3rem 2rem;
    color: rgb(80, 80, 80);
}
.section-content p {
    font: 400 1.2rem Archivo;
    line-height: 27px;
    margin-bottom: 3rem;
    color: rgb(124, 124, 124);
}
@media (max-width:1100px) {
    .section-background{
        margin-top: 80px;
    }
    .section-search fieldset {
        margin: 2rem;
    }
}
@media (max-width:600px) {
    .section-search .form-block {
        display: flex;
        flex-direction: column;
    }
    .section-search fieldset {
        padding: 1rem 2rem;
    }
    .backdrop .backdrop-text p {
        line-height: 30px;
    }
    .section-content p {
        margin: 0 2rem;
    }
    .section-content img {
        margin: 2rem auto;
    }
    .section-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-text p {
        text-align: center;
        margin: 1rem 2rem;
    }
}