 #form-register {
    width: 100%;
    background-color: #f5fafd;
    margin-top: 4rem;

}
#form-register fieldset {
    background-color: white;
    border-radius: 0.8rem;
    border: 2px solid rgb(250, 250, 250);
    box-shadow: 1px 1px 16px #d9d9da;
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
}
#form-register fieldset h1 {
    margin: 1rem 0;
}
.form-group-flex {
    display: flex;
}
.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-group input, .form-group select {
    height: 40px;
    border: 1px solid #dfdfdf;
    outline: none;
    border-radius: 0.4rem;
    background-color: white;
    margin: 0.2rem;
    color: gray;
}
.form-group label {
    color: gray;
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
    font-family: Archivo;
}

#form-register button {
    margin: 2rem 0.2rem;
    background-color: #0086ba;
    padding: 1rem;
    width: 150px;
    border: 1px solid #0086ba;
    border-radius: 0.7rem;
    color: white;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
}
#form-register button:hover {
    background-color: #0f92c5;
    border: 1px solid #0f92c5;
    border-radius: 0.7rem;
}
@media (max-width:700px) {
    .form-group-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .form-group input, .form-group select {
        margin: 0.5rem;
        width: 95%;
    }
    .form-group {
        margin: 0.5rem 0;
    }
} 