#form-register {
    width: 100%;
    background-color: #f5fafd;
    display: flex;
    justify-content: center;
}
#form-register fieldset {
    max-width: 800px;
    margin: 2rem;
    width: 100%;
    background-color: white;
    border-radius: 0.8rem;
    border: 2px solid white;
}
.form-group-flex {
    display: flex;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 98%;
}
.form-group input, .form-group select {
    height: 40px;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    background-color: #f5fafd;
}
.form-group label {
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    font-size: 0.6rem;
    font-family: Archivo;
}
.form-group input#name, .form-group select#position, .form-group select#city {
    width: 100%;
}
.form-group input#surname, .form-group select#area, .form-group select#state {
    flex: 1;
}
.form-group+.form-group-flex {
} 

#form-register button {
    margin: 2rem 1rem;
    background-color: #0086ba;
    padding: 1rem;
    width: 150px;
    border: 1px solid #0086ba;
    border-radius: 0.7rem;
    color: white;
    font-size: 1.2rem;
    outline: none;
}
#form-register button:hover {
    background-color: #0f92c5;
    border: 1px solid #0f92c5;
    border-radius: 0.7rem;
}
@media (max-width:700px) {
    .form-group-flex {
        display: flex;
        flex-direction: column;
    }
}