* {
    margin: 0;
    padding: 0;
}
.comercial-image {
    max-width: 800px;
    width: 90%;
    margin: 5rem auto 7rem auto;
}
.services {
    max-width: 800px;
    width: 100%;  
    margin: 6rem auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.services__image {
    width: 60%;
    max-height: 300px;
}
.services__box  {
    flex: 1;
}
.services__list {
    padding: 2rem 3rem;
}
.services__item {
    line-height: 20px;
    text-align: left;
    font-family: Archivo;
    margin-bottom: 0.5rem;
    color: rgb(102, 102, 102);
}
.services__title {
    margin-bottom: 1rem;
    font: 700 1.7rem Archivo;
    color: #ff6704;
}
@media (max-width:800px) {
    .services {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .services__list {
        padding: 2rem;
    }
    .services__title {
        margin: 2rem 0 0 1rem;
    }
}